* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
a:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.link:hover, .block .block_text {
  border: 5px dashed red;
}

.block {
  width: 52.380952381%;
  background-color: rgb(181, 181, 181);
  margin: 0 auto;
  line-height: 100px;
  text-align: center;
  padding: 40px;
  font-size: 70px;
  font-weight: 300;
}
.block > p {
  color: green;
}
.block .block_text {
  font-size: 40px;
  line-height: 50px;
}
.block .block_text span {
  color: red;
}

.link {
  color: blue;
  text-decoration: underline;
}
.link:hover {
  color: rgb(246, 5, 246);
}

.new {
  font-size: 100px;
  text-align: center;
  color: red;
}