// 1.Создаем комментарии которые видно только в SCSS с помощью //
// 2.Импорт других файлов
@import "nullstyle.scss";

// 3.Создание переменных
$rm: 40px;

// 4.Создание шаблонов
%zaborder {
  border: 5px dashed red;
}

// 5.Подключаем миксины
@mixin abc($f, $t, $c) {
  font-size: $f;
  text-align: $t;
  color: $c;
}

.block {
  // 7. Используем встроенную ф-ю калькулятор
  width: 550px / 1050px * 100%;
  background-color: rgb(181, 181, 181);
  margin: 0 auto;
  line-height: 100px;
  text-align: center;
  padding: $rm;
  font-size: 70px;
  font-weight: 300;
  // 6.Тренируемся со вложенностью
  > p {
    color: green;
  }
  .block_text {
    font-size: $rm;
    line-height: 50px;
    @extend %zaborder;
    span {
      color: red;
    }
  }
}

// 8.Тренируемся с заменой родительского элемента - &
.link {
  color: blue;
  text-decoration: underline;
  &:hover {
    color: rgb(246, 5, 246);
    @extend %zaborder;
  }
}

.new {
  @include abc(100px, center, red);
}
